Options +FollowSymLinks
RewriteEngine On
AddDefaultCharset utf-8

Options All -Indexes

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^view/login view/sign-in.php
RewriteRule ^view/([a-zA-Z0-9_/-]+)/([-a-zA-Z0-9/]+)$ view/index.php?view=$1&id=$2
RewriteRule ^view/([a-zA-Z0-9_/-]+)$ view/index.php?view=$1
RewriteRule ^([a-zA-Z0-9-_/]+)/([a-zA-Z0-9-_/]+)$ $1.php?id=$2
RewriteRule ^inicio index.php
RewriteRule ^([a-zA-Z0-9-_/]+)$ $1.php
#RewriteRule ^view/([a-zA-Z0-9_/-]+)/([a-zA-Z0-9/]+)\-([-a-zA-Z0-9_/]*)$ view/index.php?view=$1&id=$2